#display{
    max-width: 500px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
button{
    font-size: 4rem;
    display: grid;
    grid-template-columns: 1fr;
   
}